.home {
    position: relative;
    width: 1440px;
    height: 6033px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Ð“Ð¾Ð»Ð´ Ð·ÑÑ€ÑÐ³Ñ†Ò¯Ò¯Ð»ÑÑ… */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Ð”ÑÑÐ´ Ñ‚Ð°Ð»Ñ‹Ð½ header-Ð´ Ð·Ð°Ð¹ Ò¯Ð»Ð´ÑÑÑ… */
    padding-top: 60px; /* Header-Ð¸Ð¹Ð½ Ó©Ð½Ð´Ñ€Ð¸Ð¹Ð³ Ñ…Ð°Ñ€Ð³Ð°Ð»Ð·Ð°Ð½ Ð·Ð°Ð¹ Ð³Ð°Ñ€Ð³Ð°Ñ… */
  }
  
.banner{
    position:absolute; 
    top: 0;
    width: 100%;
    border-radius: 10px;
}
.banner-home{
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
isolation: isolate;
position: relative;
width: 1312px;
height: 834px;
}


.heroshop{
    position: relative;
    width: 140px;
    height: 100px;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    top: 15px;
    margin-left: 10px;
    border-radius: 10px;

}
/* heroshop */
.heroshop-home{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 420px;
    height: 178px;
    margin-left: 750px;
    margin-top: 500px;
    background-color: rgb(255, 255, 255);
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    opacity: 0.9;
    border-radius: 10px;
}
.heroshop-home h2{
width: 263px;
height: 23px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-transform: capitalize;
color: #000000;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-left: 180px;
margin-top: -70px
}
.heroshop-home p{
    margin-top: -10px;
    margin-left: 180px;
    font-family: 'Quicksand';
    font-style: normal;
}
.heroshop-home button{
    display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 10px 20px;
  background-color: #1e3a8a; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 14px; 
  cursor: pointer; 
  text-align: center; 
  margin-left: 210px;
}
.head-home h1{
    width: 620px;
    height: 53px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    color: #1B3363;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-items: center;
    margin-left: 160px;
    margin-top: 80px;
}
.head-home h2{
    width: 495px;
    height: 72px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: #000000;
    flex: none;
    margin-top: -20px;
    margin-left: 200px;
}
/* Ð¦Ð°Ð°Ñˆ Ò¯Ð·ÑÑ… */
.heads-home h1{
    width: 620px;
    height: 53px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    color: #1B3363;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-items: center;
    margin-left: 110px;
    margin-top: -5px;
}
.heads-home h2{
    width: 700px;
    height: 72px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: #000000;
    flex: none;
    margin-top: -20px;
    margin-left: 40px;
}
.head1-home h1{
    height: 53px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    color: #1B3363;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-items: center;
    margin-left: 300px;
    margin-top: 20px;
}
.head1-home h2{
    width: 650px;
    height: 72px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: #000000;
    flex: none;
    margin-top: -20px;
    margin-left: 130px;
}
.heads-home{
/* heads */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: relative;
width: 375px;
height: 125px;
margin-top: 50px;
margin-bottom: 50px;
}

.bestshop{
    position: relative;
    width:303px; 
    height:233px;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 10px;
}
.item{
    width: 303px;
    height: 307px;
    background-color: #1B3363;
    border-radius: 10px;
}
.item h2{
    color:#FFFFFF; 
    text-align: center;

}
.category-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}

._001A {
    width: 477px;
    height: 285px;
    flex: 0 0 auto;
}
._001A img {
    width: 477px;
    height: 285px;
    border-radius: 10px;
    filter: blur(1px);
}
.info {
    position: absolute;
    top: 50px;
    left: 20px;
    flex-direction: column;
    justify-content: center;
    color: white; 
    border-radius: 10px; 
  }
  
  .info h3{
    margin: 5px 0;
    font-size: 45px;
  }
  .info p {
    margin: 5px 0;
    font-size: 24px;
  }
  ._001A button {
    padding: 15px 45px;
    position: absolute;
    background-color: #17007e;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: #6a4ee7 0.3s ease;
    justify-content: center;
    left: 20px;
    top: 200px;
    border-radius: 20px;
  }
  
  .info button:hover {
    background-color: #ffffff;
  }

._002A {
    width: 337px;
    height: 285px;
    flex: 0 0 auto;
}
._002A img {
    width: 337px;
    height: 285px;
    border-radius: 10px;
    
}
._003A {
    width: 331px;
    height: 590px;
    flex: 0 0 auto;
}
._003A img {
    width: 331px;
    height: 590px;
    border-radius: 10px;
    filter: blur(1px);
}
._004A,
._005A {
    width: 337px;
    height: 285px;
    flex: 0 0 auto;
}
._004A img {
    width: 337px;
    height: 285px;
    border-radius: 10px;
    
}

._005A{
    width:477px;
    margin-left: -140px;
}
._005A img {
    width: 477px;
    height: 285px;
    border-radius: 10px;
    filter: blur(1px);
}
.info1 {
    position: absolute;
    top: 300px;
    left: 370px;
    flex-direction: column;
    justify-content: center;
    color: white; 
    border-radius: 10px; 
    display: flex;
    padding: 0;
    width: 477px;
    height: 285px;
    order:1;
    flex-grow: 0;
    z-index: 1;
}
.info1 h3{
    color: #1b3363;
    margin: 5px 0;
    font-size: 45px;
}
.info1 p{
    margin: 5px 0;
    font-size: 24px;
}
.info2 {
    position: absolute;
    top: 80px;
    left: 860px;
    flex-direction: column;
    justify-content: center;
    color: white; 
    border-radius: 10px; 
    display: flex;
    padding: 0;
    width: 331px;
    height: 607px;
    order:1;
    flex-grow: 0;
    z-index: 1;
}
.info2 h3{
    color: #1b3363;
    margin: 5px 0;
    font-size: 35px;
}
.info2 p{
    margin: 5px 0;
    font-size: 24px;
}
.info1 button{
    position: absolute;
    top: 150px;
    left: 660px;
    height:50px;
    width: 140px;
    background-color: #17007e;
    border: none;
    color: white;
    cursor: pointer;
    transition: #6a4ee7 0.3s ease;
    border-radius: 20px;
}
/* banner 2 4T */

/* Ð¡Ò¯Ò¯Ð»Ð¸Ð¹Ð½ Ñ…Ð¾Ñ‘Ñ€ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚ Ñ‚Ð¾Ð¼ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ñ‚ÑÐ¹ Ð¼Ó©Ñ€Ó©Ð½Ð´ Ð±Ð°Ð¹Ñ€Ð»ÑƒÑƒÐ»Ð°Ñ… */
@media (min-width: 1024px) {
    .category-home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* 3 Ð±Ð°Ð³Ð°Ð½Ð°Ñ‚Ð°Ð¹ */
        gap: 20px;
    }

    ._003A {
        grid-column: 3 / 3; /* Ð”ÑƒÐ½Ð´ Ð±Ð°Ð³Ð°Ð½Ñ‹Ð³ ÑÐ·Ð»ÑÑ… */
        grid-row: 1 / span 2; /* 2 Ð¼Ó©Ñ€Ð¸Ð¹Ð³ ÑÐ·Ð»ÑÑ… */
    }

    ._004A {
        grid-column: 1 / 2; /* Ð—Ò¯Ò¯Ð½ Ñ‚Ð°Ð»Ð´ Ð±Ð°Ð¹Ñ… */
        grid-row: 2 / 3;
    }

    ._005A {
        grid-column: 2 / 4; /* Ð‘Ð°Ñ€ÑƒÑƒÐ½ Ñ‚Ð°Ð»Ð´ Ð±Ð°Ð¹Ñ… */
        grid-row: 2 / 3;
    }
}


.head3-home{
    /* head3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
position: relative;
width: 891px;
height: 125px;
margin-bottom: 50px;
}

.head3-home h1{
    width: 620px;
    height: 53px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #1B3363;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.head3-home h2{
    width: 495px;
    height: 72px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    letter-spacing: -1.2px;
    text-transform: capitalize;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: -20px;
}

    .bestseller-home{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* 3 Ð±Ð°Ð³Ð°Ð½Ð°Ñ‚Ð°Ð¹ */
        row-gap: 40px;
        column-gap: 150px;
        margin-bottom: 50px;
}


.itemA-home{
/* itemA */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 22px;
gap: 22px;

width: 303px;
height: 307px;
left: 69px;
top: 2100px;

background: #1B3363;
border-radius: 10px;
}

.itemB-home{
/* itemB */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 22px;
gap: 22px;

width: 303px;
height: 307px;
left: 569px;
top: 2100px;

background: #1B3363;
border-radius: 10px;
}

.itemC-home{
/* itemC */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 22px;
gap: 22px;

width: 303px;
height: 307px;
left: 1069px;
top: 2100px;

background: #1B3363;
border-radius: 10px;
}

.itemE-home{
/* itemE */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 22px;
gap: 22px;

width: 303px;
height: 307px;
left: 69px;
top: 2466px;

background: #1B3363;
border-radius: 10px;
}

.itemD-home{
/* itemD */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 22px;
gap: 22px;

width: 303px;
height: 307px;
left: 571px;
top: 2466px;

background: #1B3363;
border-radius: 10px;
}

.itemI-home{
/* itemI */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 22px;
gap: 22px;

width: 303px;
height: 307px;
left: 1073px;
top: 2467px;

background: #1B3363;
border-radius: 10px;
}




.banner2-home{
/* banner2 */

position: relative;
display: flex;
width: 1309px;
height: 687px;
background-color: black;
margin-bottom: 50px;
column-gap: 25px;
}

.zurag1-home{
/* zurag1 */

position: relative;

width: 525px;
height: 687px;
/*background: url(idk_bagts.jpg);*/
background-color: #1B3363;
border-radius: 20px;
}

.zurag2-home{
/* zurag2 */

position: relative;

width: 763px;
height: 687px;
/*
background: url(erdenet gang.jpg);
*/
background-color: #1B3363;
border-radius: 20px;
}


.zurag3-home{
/* zurag3 */
position: relative;

width: 763px;
height: 687px;
/*
background: url(erdenet gang.jpg);
*/
background-color: #1B3363;
border-radius: 20px;
}

.zurag4-home{
    /* zurag4 */
position: relative;

width: 525px;
height: 687px;
/*background: url(idk_bagts.jpg);*/
background-color: #1B3363;
border-radius: 20px;

}


.heads2-home{
    /* heads2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 891px;
height: 125px;
left: 275px;
top: 4508px;
background-color: yellow;
}


.zurag5-home{
    /* zurag4 */
    position: relative;

    width: 525px;
    height: 687px;
    /*background: url(idk_bagts.jpg);*/
    background-color: #1B3363;
    border-radius: 20px;
}

.zurag6-home{
    /* zurag6 */
    position: relative;

    width: 763px;
    height: 687px;
    /*
    background: url(erdenet gang.jpg);
    */
    background-color: #1B3363;
    border-radius: 20px;
}